/* block:top bottom margin respected
inline: top bottom margin not respected
mobile navbar
list-style-type:property
descendant selectors */



/* *{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
} */



body{
 font-family: Verdana, Geneva, Tahoma, sans-serif;

}

ul li{
 list-style-type: upper-roman;
}
ul li a{
 text-decoration: none;
 text-transform: capitalize;
 letter-spacing: 2px;
 background: black;
 color: red;
 display: block;
 padding: 10px 10px;
 margin: 10px;

}

/* inline-block  */

a {
 font-size: 60px;
 background: red;
 margin: 10px;
 display: inline-block;

}